$bg-color: yellow;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;
  font-weight: 300;
  font-size: 14px;

  p {
    background-color: $bg-color;
  }
}

#navTitle {
  font-size: 30px;
}

.nav-item {
  padding-right: 10px;
  font-size: 19px;
}

.navbar-light .navbar-nav .nav-link {
  color: #2905a1;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #009ce0;
}

.bannerBack {
  background-image: url('./../img/banner1.jpeg');
}

header.masthead {
  position: relative;
  background: url(../img/banner4.jpeg) no-repeat center center;
  background-size: cover;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

.btnBackBlanco {
  border: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  background-color: #009ce0;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.3s;
  width: 250px;
  margin-right: 15px;
}

.btnBackBlanco:hover {
  transform: scale(1.1);
  opacity: 1;
}

.nostros {
  background-color: #009ce0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.queHacemos {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.equipos {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.imgEquipos {
  height: 150px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comoAyudar {
  background-color: #009ce0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}

.testimonios {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #009ce0;
}

.contacto {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.imgGrid {
  width: 300px;
  height: 201.32px;
  border-radius: 7px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

#navBackground {
  background-color: rgba(0, 0, 0, 0.88);
  padding-bottom: 15px;
  padding-top: 10px;
}

.navItems {
  color: white;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  transition: 0.3s;
}

.navItems:hover {
  text-decoration: none;
  color: #009ce0;
}
