$bg-color: yellow;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;
  font-weight: 300;
  font-size: 14px;

  p {
    background-color: $bg-color;
  }
}

body {
  transition: 0.5s;
  -webkit-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  padding-bottom: 18px;
}

div:focus {
  outline: none;
}

#navTitle {
  font-size: 30px;
}

.nav-item {
  padding-right: 10px;
  font-size: 19px;
}

.navbar-light .navbar-nav .nav-link {
  color: #2905a1;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #009ce0;
}

.bannerBack {
  background-image: url('./../img/banner1.jpeg');
}

header.masthead {
  position: relative;
  background: url(../img/banner4.jpeg) no-repeat center center;
  background-size: cover;
  padding-top: 13rem;
  padding-bottom: 16rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

.btnBackBlanco {
  border: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  background-color: #009ce0;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.3s;
  width: 250px;
  margin-right: 15px;
}

.btnBackBlanco:hover {
  transform: scale(1.1);
  opacity: 1;
}

.nostros {
  background-color: #009ce0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.queHacemos {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.equipos {
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.imgEquipos {
  height: 150px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comoAyudar {
  background-color: #009ce0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}

.testimonios {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #009ce0;
}

.contacto {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.imgGrid {
  width: 300px;
  height: 201.32px;
  border-radius: 5px;
  border: 4px solid #009ce0;
}

#navBackground {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 15px;
  padding-top: 10px;
}

.navItems {
  color: white;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  transition: 0.3s;
}

.navItems:hover {
  text-decoration: none;
  color: #009ce0;
}

#logoHeader {
  width: 120px;
  height: 57px;
}

#imgLogoNosotros {
  width: 320px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.imgTestimonio {
  border: 3px solid rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.imgWrap {
  position: relative;
}

.imgDescription {
  padding: 10px;
  position: absolute;
  font-size: 17.2px;
  line-height: 1.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: #009ce0;
  border: 3px solid #009ce0;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.imgTestimonio:hover {
  transform: scale(1.1);
}
